<div class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <a routerLink="/home" class="navbar-brand text-white" routerLinkActive='menu-active'>{{navbar.home}}</a>
            <a routerLink="/lista" class="navbar-brand text-white" routerLinkActive='menu-active'>{{navbar.trabajadores}}</a>
            <a routerLink="/tareas" class="navbar-brand text-white" routerLinkActive='menu-active'>{{navbar.tareas}}</a>
        </div>
        <h5 class="text-white" id="menu-label">{{navbar.menu}}</h5>
    </div>
</div>